<Layouts.app flash={@flash} current_user={@current_user} turbo_frame={@turbo_frame}>
  <turbo-frame id={"edit_message_#{@message.client_message_id}"}>
    <div class="message__body position-relative" data-controller="scroll-into-view">
      <div class="message__body-content message__body-content--editing gap">
        <%= if @attachment do %>
          <MessageComponents.attachment blob={@attachment} />

          <div class="message__edit-btns flex align-center justify-space-between gap full-width pad-block-start-half">
            <button
              name="button"
              type="submit"
              class="btn btn--negative center margin-block-end"
              form={"delete_form_message_#{@message.client_message_id}"}
              data-turbo-confirm="Are you sure you want to delete this message?"
            >
              <.image src="trash.svg" aria-hidden="true" />
              <span class="for-screen-reader">Delete message</span>
            </button>
          </div>
        <% else %>
          <div class="composer--edit composer--rich-text">
            <form
              id={"form_message_#{@message.client_message_id}"}
              data-controller="form"
              data-action="lexxy:file-accept->form#preventAttachment keydown.esc->form#cancel keydown.ctrl+enter->form#submit:prevent keydown.meta+enter->form#submit:prevent"
              action={"/rooms/#{@room.id}/messages/#{@message.id}"}
              accept-charset="UTF-8"
              method="post"
            >
              <input type="hidden" name="_method" value="patch" /><.csrf_input />
              <div class="full-width input input--actor min-width fill-white">
                <lexxy-editor
                  rows="1"
                  class="input lexxy-content"
                  aria-multiline="true"
                  aria-label="Edit message"
                  autofocus="autofocus"
                  permitted-attachment-types="application/vnd.campfire.mention application/vnd.actiontext.opengraph-embed"
                  data-action="lexxy:change->typing-notifications#start keydown->composer#submitByKeyboard:capture"
                  data-direct-upload-url={"#{CampfireWeb.Plugs.base_url(@conn)}/rails/active_storage/direct_uploads"}
                  data-blob-url-template={"#{CampfireWeb.Plugs.base_url(@conn)}/rails/active_storage/blobs/redirect/:signed_id/:filename"}
                  id="message_body"
                  input={"message_body_trix_input_message_#{@message.client_message_id}"}
                  name="message[body]"
                  value={@editable}
                >
                  <lexxy-prompt
                    trigger="@"
                    name="mention"
                    src={"/autocompletable/users?room_id=#{@room.id}"}
                    remote-filtering="true"
                    empty-results="No matches"
                  >
                  </lexxy-prompt>
                </lexxy-editor>
              </div>

              <a
                data-form-target="cancel"
                hidden="hidden"
                href={"/rooms/#{@room.id}/messages/#{@message.id}"}
              >Close editor and discard changes</a>

              <div class="message__edit-btns flex align-center justify-space-between gap full-width pad-block-start-half">
                <button name="button" type="submit" class="btn btn--reversed">
                  <.image src="check.svg" aria-hidden="true" />
                  <span class="for-screen-reader">Save changes</span>
                </button>

                <button
                  name="button"
                  type="submit"
                  class="btn btn--negative"
                  form={"delete_form_message_#{@message.client_message_id}"}
                  data-turbo-confirm="Are you sure you want to delete this message?"
                >
                  <.image src="trash.svg" aria-hidden="true" />
                  <span class="for-screen-reader">Delete message</span>
                </button>
              </div>
            </form>
          </div>
        <% end %>
      </div>

      <div class="message__actions flex flex-wrap">
        <a
          class="message__action-btn message__edit-close-btn txt-small btn btn--borderless"
          href={"/rooms/#{@room.id}/messages/#{@message.id}"}
        >
          <.image src="remove.svg" class="colorize--black" aria-hidden="true" />
          <span class="for-screen-reader">Close editor and discard changes</span>
        </a>
      </div>

      <form
        id={"delete_form_message_#{@message.client_message_id}"}
        data-turbo-frame={"edit_message_#{@message.client_message_id}"}
        action={"/rooms/#{@room.id}/messages/#{@message.id}"}
        accept-charset="UTF-8"
        method="post"
      >
        <input type="hidden" name="_method" value="delete" /><.csrf_input />
      </form>
    </div>
  </turbo-frame>
</Layouts.app>
